:root { 
--white_A700_7f:#ffffff7f; 
--blue_gray_700_87:#49505787; 
--blue_gray_100_01:#d1d1d1; 
--blue_gray_100_02:#d2d6da; 
--lime_800_0c:#c198070c; 
--black_900_3f:#0000003f; 
--gray_500_01:#a4a4a4; 
--light_green_700_cc:#5da73acc; 
--blue_gray_800:#19435a; 
--gray_200_01:#eaeaea; 
--gray_500_02:#a3a3a3; 
--gray_400:#bbbbbb; 
--blue_gray_100:#d9d9d9; 
--gray_500:#a7a7a7; 
--amber_500:#fbbc09; 
--lime_800:#c19807; 
--gray_900:#131415; 
--lime_900:#876c0c; 
--amber_500_99:#fbbc0999; 
--gray_200:#ededed; 
--black_900_11:#00000011; 
--blue_gray_900_cc:#363636cc; 
--amber_500_4c:#fbbc094c; 
--white_A700:#ffffff; 
--lime_800_cc:#c19807cc; 
}